@import "./components/aside";
@import "./company-history";
@import "./company-numbers";
@import "./letters";

.company {
  &__inner {
    display: flex;
    gap: 35px;
  }

  &--left {
    padding-left: 20px;
  }

  &__top {
    @include flex-column(10);
    border-bottom: 1px solid rgba($black500, .2);
    padding-bottom: 15px;
    margin-bottom: 40px;

    &-text {
      color: $blue35;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__letters {
    margin-bottom: 40px;
  }
}