.company-numbers {
  background-color: $blue35;
  color: $white;
  padding: 30px 25px;

  &__slogan {
    margin-bottom: 35px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 55px 30px;
  }

  &__item {
    @include flex-column(2);
  }

  &__digital {
    font-size: 100px;
    line-height: 1;
  }
}