.company-reviews {
  &__title {
    margin-bottom: 40px;
  }

  &__empty {
    margin-bottom: 20px;
  }

  &__list {
    @include flex-column(20);
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba($gray15, .2);
  }

  &__item {
    background-color: $white;
    padding: 20px 17px;
    border-radius: 5px;
  }

  &__head {
    @include flex-align-center(15);
  }

  &__rating {
    @include flex-align-center(3.5);
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    color: $gray15;
  }

  &__text {
    margin: 20px 0;
    font-size: 14px;
  }

  &__date {
    font-size: 14px;
    color: $gray15;
  }

  &__form {
    background: $white;
    box-shadow: 0 0 13px rgba(0, 0, 0, .08);
    border-radius: 6px;
    padding: 25px;
    margin-bottom: 40px;
  }

  &__cells {
    display: flex;
    justify-content: space-between;
    grid-gap: 40px;
  }

  &__left {
    @include flex-column(24);
    max-width: 330px;
    width: 100%;
  }

  &__cell {
    @include flex-column(6);
    width: 100%;

    &--small {
      gap: 3px;
    }
  }

  &__btn {
    margin-top: 17px;
    font-size: 14px;
    font-weight: 500;
  }

  &__today {
    font-size: 14px;
    color: $gray15;
  }
}

.star-rating {
  direction: ltr;
  text-align: left;
  @include flex-align-center(3.5);
}

.star {
  display: flex;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
  color: gray;
  transition: color 0.3s ease;

  &-filled {
    color: $blue35;
    pointer-events: none;
  }
}

.star:hover,
.star:hover ~ .star {
  color: $blue35;
}