.auth {
  margin-bottom: 60px;

  &__content {
    max-width: 900px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    color: $blue35;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px 40px;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    margin-bottom: 9px;

    a {
      color: $blue35;
      transition: color .4s, outline .4s;
      border-radius: 4px;

      &:hover {
        color: $blue90;
      }

      &:focus {
        outline: 1px solid;
      }
    }
  }

  &__btn {
    font-weight: 400;
  }
}
