.catalog {
  padding-bottom: 40px;

  &__sort {
    @include flex-column(7);
    max-width: 302px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    min-height: 250px;
    @include flex-column(22);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    overflow: hidden;
    background-color: $white;
    cursor: pointer;
    transition: color .4s;

    &:hover {
      color: $white;

      &::before {
        opacity: 1;
      }

      &::after {
        background-color: #074cff;
        transform: rotate(225deg);
      }
    }

    &::before {
      @include pseudo;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, $blue35 0%, #074cff 100%);
      opacity: 0;
      transition: opacity .4s;
      z-index: 0;
    }

    &::after {
      @include pseudo;
      width: 43px;
      height: 43px;
      border-radius: 10px;
      background-color: $blue10;
      left: -28px;
      top: 15px;
      transform: rotate(45deg);
      transition: background-color .4s, transform .4s;
    }
  }

  &__title {
    padding: 20px 30px 0;
    position: relative;
    z-index: 10;
  }

  &__img {
    @include objectCoverBg;
    margin-left: auto;
    width: 93%;
    margin-top: auto;
    position: relative;
    z-index: 10;
  }

  &__non {
    @include flex-column(5);
    margin-top: 30px;
    align-items: center;
    font-size: 18px;

    &-img {
      @include objectCoverBg;
      height: auto;
      width: 410px;
    }

    & .btn {
      margin-top: 15px;
      font-size: 16px;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 25px;
    padding-bottom: 20px;
  }

  &__product {
    @include flex-column();
    background-color: $white;
    padding: 18px 17px 16px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  }

  &__head {
    @include flex-align-center(10);
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
    min-height: 30px;
  }

  &__rebate {
    background: $blue35;
    padding: 7px 10px;
    border-radius: 5px;
    color: $white;
    font-size: 12px;
    margin-right: 10px;
  }

  &__like {
    @include flex-align-center(12);
    margin-left: auto;
    outline: 1px solid transparent;
    padding: 2px;
    border-radius: 3px;
    transition: all .4s, outline .4s;

    &:hover {
      svg path {
        stroke: transparent;
        fill: $blue35;
      }
    }

    &:focus {
      outline-color: $blue35;
    }

    svg path {
      transition: all .4s;
    }
  }

  &__info {
    @include flex-column();
    height: 100%;
  }

  &__image {
    @include flex-center;
    height: 150px;
    transition: opacity .4s, outline-color .4s;
    border-radius: 4px;
    margin-bottom: 20px;
    outline: 2px solid transparent;

    &:hover {
      opacity: .5;
    }

    &:focus {
      outline-color: $blue35;
    }

    img {
      @include objectCoverBg;
      object-fit: contain;
      width: auto;
      height: 135px;
    }
  }

  &__article {
    color: $gray15;
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: 30px;
  }

  &__price {
    @include flex-align-center(2);
    margin-top: auto;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;

    &-discount {
      margin-left: auto;
      margin-right: 12px;
      opacity: .4;
      position: relative;
      font-size: 14px;

      &::after {
        @include pseudo;
        @include topLeft50;
        width: 100%;
        height: 1px;
        background: $blue90;
      }
    }

    &-new {
      font-size: 20px;

      &.one {
        margin-left: auto;
      }
    }
  }

  &__order {
    margin-top: auto;
    font-weight: 500;
    font-size: 14px;
  }

  &__form {
    @include flex-align-center(15);
    border-top: 1px solid $blue10;
    margin: 0 -17px;
    padding: 13px 17px 0;

    &.not-available {
      opacity: .4;
      pointer-events: none;
    }
  }

  &__input {
    @include flex-align-center(2);
    align-self: stretch;
    background-color: $blue10;
    width: 70px;
    border-radius: 5px;
  }

  &__value {
    width: 50px;
    padding: 0 2px;
    transform: translateX(2px);
    text-align: center;
  }

  &__actions {
    @include flex-column(2);
    align-self: stretch;
  }

  &__action {
    @include flex-align-center(5);
    justify-content: center;
    background-color: $gray15;
    border: 1px solid transparent;
    height: 50%;
    width: 18px;
    transition: background-color .4s, border .4s;

    &:hover {
      background-color: $blue35;
    }

    &:focus {
      background-color: transparent;
      border-color: $gray15;

      svg {
        fill: $gray15;
      }
    }

    svg {
      width: 8px;
      height: 8px;
      fill: $white;
    }

    &.plus {
      border-radius: 0 5px 0 0;
    }

    &.minus {
      border-radius: 0 0 5px 0;
    }
  }

  &__card {
    font-size: 14px;
    max-width: 100%;
    width: 100%;
  }
}