.partneram {
  &__top {
    @include flex-column(7);
    padding-bottom: 20px;
  }

  &__top-text, &__text {
    color: $blue35;
    font-weight: 500;
  }

  &__title {
    margin-bottom: 0;
  }

  &__inner {
    background-color: $white;
    padding-top: 50px;

    .title {
      display: block;
      margin-bottom: 8px;
    }
  }

  &__text {
    margin-bottom: 35px;
  }

  &__numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 50px;
    margin-bottom: 100px;
  }

  &__number {
    @include flex-column(1);
  }

  &__digital {
    font-size: 100px;
    color: $blue35;
    line-height: 1;
  }

  &__subtext {
    color: $gray15;
    max-width: 350px;
    font-size: 18px;
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid rgba($gray15, .05);
    border-bottom: none;
  }

  &__logo {
    @include flex-center;
    min-height: 160px;
    border: 1px solid rgba($gray15, .05);
    padding: 25px;

    &:nth-child(17), &:nth-child(18), &:nth-child(19), &:nth-child(20) {
      border-bottom: none;
    }
  }

  &__feedback {
    padding: 50px 0;

    .title {
      display: block;
      margin-bottom: 8px;
    }
  }

  &__list {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-bottom: 30px;
  }

  &__column {
    @include flex-column(12);
  }

  &__label {
    min-height: 100%;
  }

  &__confirm {
    color: $gray15;
    font-size: 12px;
    max-width: 390px;
    margin-bottom: 15px;

    a {
      color: $blue35;
      transition: color .4s, outline .4s;
      border-radius: 4px;

      &:hover {
        color: $blue50;
      }

      &:focus {
        outline: 1px solid $blue35;
      }
    }
  }

  &__btn {
    font-weight: 500;
    padding: 14px 36px;
  }
}