.payment {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba($black500, .2);

  &, &__order, &__question, &__delivery, &__edge {
    max-width: 860px;
    margin-left: 20px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
    display: inline-block;
  }

  &__text {
    @include flex-column(20);
    font-size: 14px;
    color: #627c9b;

    &--small {
      gap: 8px;
    }

    &--top {
      margin-top: 20px;
    }

    &--bottom {
      margin-bottom: 15px;
    }

    a {
      color: $blue90;
      transition: color .4s, border .4s;
      border-bottom: 1px solid transparent;
      padding-bottom: 2px;

      &:hover {
        color: $blue35;
      }

      &:focus {
        border-bottom-color: $blue35;
      }
    }
  }

  &__delivery,
  &__order,
  &__edge {
    padding: 25px 0;
    border-bottom: 1px solid rgba($black500, .2);
  }

  &__list {
    @include flex-column(9);
    font-size: 14px;
    color: #627c9b;
  }

  &__item {
    position: relative;
    padding-left: 16px;

    &::before {
      @include pseudo;
      @include top50;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $blue35;
    }
  }


  &__question {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}