.privacy {
  @include flex-column(30);
  font-size: 14px;
  max-width: 1100px;
  padding-bottom: 40px;

  h3 {
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $blue50;
    font-size: 18px;

    &::before {
      content: "";
      position: static;
      height: 23px;
      width: 1px;
      display: flex;
      background-color: $blue50;
      transform: rotate(15deg);
    }
  }

  ul {
    @include flex-column(15);
  }

  li {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $blue50;
    }
  }

  p {
    line-height: 1.5;
  }
}