.profile {
    padding: 40px 0;

    &__logout {
        color: $red500;
        transition: color .4s, border .4s, outline .4s;
        border-bottom: 1px solid transparent;
        margin-bottom: 50px;

        &:hover {
            border-bottom-color: $red600;
            color: $red600;
        }

        &:focus {
            outline: 1px solid;
        }
    }

    &__admin {
        background-color: $blue90;
        max-width: 340px;
        color: $white;
        padding: 20px;
        border-radius: 7px;
    }

    &__link {
        display: inline-block;
        margin-top: 8px;
        transition: color .4s, opacity .4s;

        &:hover {
            color: rgba($white, .7);
        }

        &:focus {
            opacity: .5;
        }
    }
}
