.product {
  &, &__info, &__characteristics {
    background-color: $white;
  }

  &, &__info {
    border-bottom: 1px solid $blue10;
  }

  padding: 20px 0;

  &__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__top {
    @include flex-align-center(10);
    font-size: 14px;
  }

  &__available {
    @include flex-align-center(10);

    &.non {
      opacity: .7;
    }
  }

  &__checkbox {
    @include flex-center;
    background-color: $blue35;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    padding: 5px;

    &.non {
      background-color: transparent;
      border: 1px solid $gray600;
    }
  }

  &__info {
    padding: 40px 0 70px;
  }

  &__inner {
    display: flex;
    gap: 50px;
  }

  &__image {
    @include flex-column(0);
    align-items: center;
    max-width: 340px;
    height: 300px;
    width: 100%;
  }

  &__img {
    @include objectCoverBg;
    object-fit: contain;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 35px;
  }

  &__description {
    @include flex-column(5);
    max-width: 500px;
    margin-bottom: 35px;
    line-height: 1.4;

    span {
      font-weight: 600;
    }

    pre {
      font-size: 14px;
      color: $gray15;
    }
  }

  &__like {
    @include flex-align-center(12);
    margin-left: auto;
    margin-right: 50px;
    transition: all .4s;

    &:hover {
      svg path {
        stroke: transparent;
        fill: $blue35;
      }
    }

    &:focus {
      opacity: .5;
    }

    svg path {
      transition: all .4s;
    }
  }

  &__characteristics {
    padding: 50px 0;
  }

  &__list {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 40px;
  }

  &__item {
    @include flex-between-center-gap(20);
    align-items: flex-start;
    border-top: 1px solid #dddfe1;
    padding: 35px 0;
  }

  &__meaning {
    max-width: 300px;
    text-align: right;
    font-size: 14px;
    color: $gray15;
  }

  &__right {
    max-width: 260px;
    width: 100%;
  }

  &__discount {
    @include flex-center;
    color: $white;
    padding: 10px;
    font-size: 13px;
    background-color: $blue35;
    border-radius: 5px 5px 0 0;
  }

  &__panel {
    align-self: flex-start;
    background-color: $blue10;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;

    &.discount {
      border-radius: 0 0 5px 5px;
    }
  }

  &__price {
    @include flex-align-center(2);
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;

    &-discount {
      margin-left: auto;
      margin-right: 12px;
      opacity: .4;
      position: relative;
      font-size: 14px;

      &::after {
        @include pseudo;
        @include topLeft50;
        width: 100%;
        height: 1px;
        background: $blue90;
      }
    }

    &-new {
      font-size: 20px;

      &.one {
        margin-left: auto;
      }
    }
  }

  &__form {
    @include flex-align-center(15);

    &.not-available {
      opacity: .4;
      pointer-events: none;
    }
  }

  &__input {
    @include flex-align-center(2);
    align-self: stretch;
    background-color: $white;
    width: 70px;
    border-radius: 5px;
  }

  &__value {
    width: 50px;
    padding: 0 2px;
    transform: translateX(2px);
    text-align: center;
  }

  &__actions {
    @include flex-column(2);
    align-self: stretch;
  }

  &__action {
    @include flex-align-center(5);
    justify-content: center;
    background-color: $gray15;
    border: 1px solid transparent;
    height: 50%;
    width: 18px;
    transition: background-color .4s, border .4s;

    &:hover {
      background-color: $blue35;
    }

    &:focus {
      background-color: transparent;
      border-color: $gray15;

      svg {
        fill: $gray15;
      }
    }

    svg {
      width: 8px;
      height: 8px;
      fill: $white;
    }

    &.plus {
      border-radius: 0 5px 0 0;
    }

    &.minus {
      border-radius: 0 0 5px 0;
    }
  }

  &__card {
    font-size: 14px;
    max-width: 100%;
    width: 100%;
  }

  &__benefits {
    @include flex-column(0);

    li {
      @include flex-between(15);
      padding: 10px 0;
      font-size: 14px;
      line-height: 1.3;

      &:hover {
        .product__icon {
          background-color: $blue35;

          svg {
            transform: scale(.7);
            fill: $white;
          }
        }
      }
    }

    li:not(:first-child) {
      border-top: $blue10 1px solid;
    }
  }

  &__icon {
    @include flex-center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color .4s;
  }
}