.profile {
  padding: 40px 0;

  &__admin {
    @include flex-column(0);
    background-color: $blue35;
    max-width: 340px;
    color: $white;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid transparent;
    transition: background-color .4s, border .4s, color .4s;

    &:hover {
      background-color: transparent;
      border-color: $blue35;
      color: $blue90;
    }

    &:focus {
      background-color: $blue90;
      border-color: transparent;
      color: $white;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 8px;
  }

  &__logout {
    color: $red500;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: color .4s, border .4s;

    &:hover {
      color: $red600;
    }

    &:focus {
      color: $red600;
      border-bottom-color: $red600;
    }
  }

  &__orders-empty {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 600;
  }
}