.phones {
  background-color: $white;
  padding: 50px 0 25px;

  &__title {
    margin-bottom: 55px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px 40px;
  }

  &__item {
    @include flex-column(12);
  }

  &__head {
    @include flex-column(10);
  }

  &__subtitle {
    color: $blue35;
    font-weight: 500;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    color: rgba($blue90, .8);
  }

  &__links {
    @include flex-column(3);
    padding-top: 10px;
    border-top: 1px solid rgba($gray15, .2);
  }

  &__link {
    font-size: 14px;
    color: #627c9b;

    a {
      color: $blue90;
      transition: color .4s, outline .4s;

      &:hover {
        color: $blue35;
      }

      &:focus {
        outline: 1px solid;
      }
    }
  }
}