@import "./create-product";
@import "./products";
@import "./categories/index";
@import "./categories/create";

.admin {
  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;

    &.two {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }
  }

  &__item {
    border-radius: 6px;
    padding: 20px;
    border: 1px solid $blue35;
    @include flex-column(20);

    &-link {
      color: #006CC4;
      transition: color .4s, outline .4s;

      &:hover {
        color: #2F323C;
      }

      &:focus {
        outline: 1px solid;
      }
    }
  }

  &__link {
    margin-bottom: 15px;
    display: inline-block;
  }

  &__info {
    padding: 25px;
    background-color: rgba($red400, 1);
    color: $white;
    max-width: 625px;
    margin-bottom: 40px;
    border-radius: 6px;
    line-height: 1.4;

    a {
      border: 1px solid transparent;
      border-bottom: 1px solid;
      padding-bottom: 1px;
      transition: border .4s, opacity .4s;

      &:hover {
        border: 1px solid;
      }

      &:focus {
        opacity: .6;
      }
    }
  }

  &__empty {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
  }

  &__pre {
    margin-top: 10px;
    line-height: 1.4;
  }

  &__rating {
    @include flex-align-center(3);
  }

  &__actions {
    @include flex-align-center(20);
    margin-bottom: 9px;
    font-size: 14px;
  }

  &__action {
    transition: color .4s, outline .4s, border .4s;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;

    &:focus {
      outline: 1px solid;
    }
  }

  &__delete {
    color: $red500;

    &:hover {
      border-bottom-color: $red500;
    }
  }

  &__confirm {
    color: $green500;

    &:hover {
      border-bottom-color: $green500;
    }
  }

  &__select {
    @include flex-column(7);
    margin-bottom: 30px;
    max-width: max-content;
    font-size: 16px;

    select {

    }
  }

  &__service {
    font-size: 14px;
    color: $gray600;
  }
}