.favorites {
  padding-bottom: 40px;

  &__non {
    @include flex-column(10);
    margin-top: 30px;
    text-align: center;
    align-items: center;
    font-size: 20px;
  }

  &__emoji {
    font-size: 30px;
  }
}