.about-aside {
  @include flex-column(18);
  max-width: 250px;
  width: 100%;
  font-size: 14px;
  line-height: 1;

  &__main {
    @include flex-align-center(10);
    background-color: $blue35;
    color: $white;
    padding: 13px 10px;
    border-radius: 5px;
    transition: background-color .4s, color .4s, opacity .4s;

    &:hover {
      background-color: $blue50;
    }

    &:focus {
      opacity: .5;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $white;
  }

  &__list {
    @include flex-column(12);
  }

  &__link {
    display: flex;
    padding: 7px 0;
    transition: color .4s, outline .4s;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    max-width: max-content;
    border-radius: 3px;

    &:hover {
      color: $blue50;

      &::before {
        width: 100%;
      }
    }

    &:focus {
      outline: 1px solid;
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      transition: width .4s;
      height: 1px;
      background-color: $blue50;
    }

    &.active {
      pointer-events: none;
      user-select: none;
      color: $blue35;
    }
  }
}