.breadcrumbs {
  &__top {
    padding: 35px 0;
    display: flex;
    font-size: 14px;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    &:not(:last-child) {
      &::after {
        @include pseudo;
        position: static;
        width: 8px;
        height: 1px;
        margin-right: 8px;
        margin-left: 8px;
        background: $blue35;
        right: 0;
      }
    }
  }

  &__link {
    transition: color .4s, border .4s;
    border-bottom: 1px solid transparent;
    color: #627c9b;

    &:hover {
      color: $blue35;
    }

    &:focus {
      color: $blue35;
      border-bottom-color: $blue35;
    }

    &--inactive {
      color: $blue90;
      pointer-events: none;
    }
  }
}