$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$circe: 'Circe', sans-serif;
$didona: 'Didona', sans-serif;
$inter: 'Inter', sans-serif;

$black: #000;
$accent: #f67280;
$pink100: #f0dbde;

$black_text: #38363F;
$black_title: #191919;
$black-deep: #1f1f1f;

$gray: #86848C;
$gray-darker: #3E3E3E;
$gray-lighter: #98999E;
$gray-pale: #D9D9D9;
$gray-pale2: #D8D8D8;
$gray100: #DBD9DF;
$gray200: #F5F5F5;

$white: #fff;

$black800: #111318;
$black700: #181B22;
$black600: #21242B;
$black500: #2F323C;

$gray600: #55575D;
$gray500: #6D7078;
$gray400: #858892;
$gray300: #9B9DA6;

$primary800: #202843;
$primary700: #263475;
$primary400: #5271FF;
$primary300: #718BFF;

$red300: #FE6F6F;
$red400: #FE4F4F;
$red600: #A33333;
$red800: #3A2329;

$padding96: 96px;
