.best-orders {
  background-color: $white;
  margin-top: 30px;
  padding: 30px 0 70px;

  &__top {
    @include flex-between-center-gap(30);
    margin-bottom: 25px;
  }

  .btn {
    font-size: 14px;
  }

  .title {
    margin-bottom: 0;
  }

  .swiper {
    padding: 40px 50px;
    margin: -40px 15px;

    &-wrapper {
      align-items: stretch;
    }
  }

  .swiper-slide {
    height: auto;
  }

  &__item {
    @include flex-column();
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    height: 100%;
    min-height: 350px;
  }

  &__top {
    @include flex-between-center-gap(15);
  }

  &__slogan {
    background-color: $blue35;
    padding: 7px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
  }

  &__img {
    @include flex-center;
    height: 150px;
    margin-bottom: 25px;
    transition: opacity .4s;
    border-radius: 4px;

    &:hover {
      opacity: .5;
    }

    &:focus {
      outline: 2px solid $blue35;
    }

    img {
      @include objectCoverBg;
      width: auto;
      height: 135px;
    }
  }

  &__article {
    margin-bottom: 15px;
    color: $gray15;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
  }

  &__title {
    margin-bottom: 10px;
    max-width: max-content;
    line-height: 1.4;
    transition: color .4s, opacity .4s;

    &:hover {
      color: $blue50;
    }

    &:focus {
      opacity: .5;
    }
  }

  &__price {
    margin: auto 0 12px;
    align-items: center;
    @include flex-between(20);
  }

  &__new {
    @include flex-column(4);

    span {
      &:nth-child(2) {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  &__old {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    opacity: .5;

    &::before {
      @include pseudo;
      @include topLeft50;
      width: 100%;
      height: 1px;
      background-color: $blue90;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include flex-center;
    border-radius: 5px;
    background-color: $blue35;
    width: 40px;
    height: 40px;
    transition: background-color .4s, opacity .4s;
    z-index: 20;

    &:hover {
      background-color: $blue90;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  .swiper-button-disabled {
    pointer-events: none;
    user-select: none;
    opacity: .4;
  }

  &__icon {
    stroke: $white;
    fill: transparent;
    width: 14px;
    height: 14px;
  }
}