.home {
    padding: $padding96 0;
    position: relative;
    overflow: hidden;
    align-self: flex-start;

    &__inner {
        @include flex-between-center-gap(25);
    }

    &__content {
        max-width: 700px;
    }

    &__slogan {
        font-size: 14px;
        font-weight: 500;
        background-color: $primary800;
        color: $primary300;
        padding: 6px 12px;
        border-radius: 20px;
        display: inline-block;
        margin-bottom: 24px;
    }

    &__title {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 24px;
        line-height: 1.26;
        letter-spacing: -1.2px;
    }

    &__text {
        color: $gray500;
        font-size: 18px;
        margin-bottom: 48px;
    }

    &__actions {
        @include flex-align-center(12);
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: -83%;
    }
}
