.btn {
    padding: 12px 20px;
    font-weight: 600;
    line-height: 1;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: color .4s, background-color .4s, border .4s, opacity .4s;
    background-color: $primary400;

    &:hover {
        background-color: transparent;
        border-color: $primary400;
    }

    &:focus {
        opacity: .5;
    }

    &--dark {
        background-color: transparent;
        border-color: $black500;
        color: $gray500;

        &:hover {
            color: $white;
        }

        &:focus {
            border-color: $white;
            color: $white;
            opacity: .8;
        }
    }
}
