.image-preview {
  @include flex-center;
  max-width: 260px;
  height: 160px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  transition: color .4s, border-color .4s;

  &:hover {
    color: $blue35;
    border-color: $blue35;
  }

  &__img {
    @include objectCoverBg;
    width: 100%;
    height: 100%;
  }
}