.custom-file {
  &__items {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  &__remove {
    @include flex-center;
    height: 24px;
    width: 24px;
    cursor: pointer;

    &:hover {
      svg .path {
        stroke: $accent;
      }
    }
  }

  &__upload {
    align-self: flex-start;
    line-height: 1;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 16px 15px 44px;
    border-radius: 6px;
    border: 1px solid #242424;
    transition: border .3s, color .3s;
    cursor: pointer;
    position: relative;

    &::before {
      @include pseudo;
      @include top50;
      @include bg;
      left: 16px;
      width: 20px;
      height: 20px;
      background-image: url("/public/static/images/icons/cloud-download.svg");
    }

    &:hover {
      border-color: $accent;
      color: $accent;
    }
  }

  &__input {
    display: none;
  }

  &__preview {
    border-radius: 8px;
    @include objectCoverBg;
    object-position: top;
    width: 100%;
  }
}