.footer {
  background-color: $blue90;
  color: $white;
  padding-top: 80px;

  &__inner {
    @include flex-between(30);
    padding-bottom: 35px;
  }

  &__columns {
    max-width: 700px;
    display: flex;
    gap: 160px;
  }

  &__name {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #bababa;
    margin-bottom: 48px;
    display: block;
  }

  &__links {
    @include flex-column(34);
  }

  &__link {
    max-width: max-content;
    transition: color .4s, outline .4s;
    border-radius: 4px;

    &:hover {
      color: $blue30;
    }

    &:focus {
      outline: 1px solid $blue30;
    }
  }

  &__bottom {
    border-top: 1px solid rgba($white, .2);
    padding-top: 64px;
  }

  &__contacts {
    display: flex;
    gap: 35px 60px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__contact {
    font-size: 20px;
    transition: color .4s, border .4s, outline .4s;
    position: relative;
    padding-bottom: 1px;
    border-radius: 4px;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &:focus {
      outline: 1px solid;
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $white;
      transition: width .4s;
    }
  }

  &__bottom-inner {
    @include flex-between-center-gap(30);
    padding-bottom: 34px;
    font-size: 12px;
    color: #c5d2e7;
  }

  &__privacy {
    transition: color .4s, border .4s;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;

    &:hover {
      color: $white;
    }

    &:focus {
      border-bottom-color: #c5d2e7;
    }
  }
}