.header {
  background-color: $white;
  align-self: flex-start;

  &__inner {
    padding: 30px 0;
    @include flex-align-center(45);
  }

  &__delivery {
    @include flex-column();
    align-items: flex-start;
    max-width: 310px;
    width: 100%;
    font-size: 14px;
  }

  &__select {
    color: $blue35;
    transition: color .4s, opacity .4s;

    &:hover {
      color: $blue50;
    }

    &:focus {
      opacity: .5;
    }
  }

  &__call {
    margin-left: auto;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-bottom: 1px;
    transition: opacity .4s;
    line-height: 1.1;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &:focus {
      opacity: .5;
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $blue90;
      transition: width .4s;
    }
  }

  &__feedback {
    margin-left: 100px;
    text-align: right;
    @include flex-column();

    span {
      font-size: 14px;
      color: $gray15;
    }
  }

  &__nav {
    border-top: 1px solid $blue10;
    padding: 25px 0;
  }

  &__list {
    @include flex-between-center-gap(40);
  }

  &__link {
    position: relative;
    display: flex;
    padding-bottom: 2px;
    transition: color .4s;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &:focus {
      color: $blue30;
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $blue90;
      transition: width .4s;
    }
  }

  &__catalog {
    padding: 14px 18px;
    gap: 15px;
  }
}