.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 500px;
  width: 100%;
  background-color: $white;
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
  font-size: 14px;
  transform: translate(-50%, 0%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .5s ease-in-out;
  z-index: 300;

  &.left {
    text-align: left;
  }

  &--bottom {
    padding-bottom: 0;
  }

  &--active {
    transform: translate(-50%, -50%);
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }

  &__title {
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    max-width: 290px;
    margin: 0 auto 14px;

    &.long {
      max-width: 350px;
      text-align: left;
      margin: 0 0 14px;
    }

    &--bottom {
      margin-bottom: 26px;
    }
  }

  &__text {
    max-width: 320px;
    color: #667085;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;

    &--long {
      @include flex-column(8);
      margin: 24px 0 30px;
      font-size: 16px;
      text-align: left;
      padding-right: 30px;
      max-width: 100%;
    }
  }

  &__close {
    padding: 1px;
    display: flex;
    transition: transform .7s, opacity .4s;
    position: absolute;
    right: 25px;

    &:hover {
      transform: rotate(180deg);

      svg path {
        stroke: $blue35;
      }
    }

    &:focus {
      transform: rotate(180deg);
    }
  }

  &__list {
    @include flex-column(20);
    background-color: $blue10;
    margin: 0 -20px 24px;
    padding: 20px;

    &--bottom {
      margin-bottom: 0;
    }
  }

  &__privacy {
    font-size: 12px;
    max-width: 340px;
    margin-bottom: 20px;

    a {
      color: $blue35;
      transition: border .4s, outline .4s, color .4s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: inherit;
      }

      &:focus {
        color: $red500;
      }
    }
  }

  &__complete {
    margin: 0 auto;
  }
}