.admin-categories {
  &__create {
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
  }

  &__item {
    @include flex-column();
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    min-height: 190px;
    background-color: $white;
    padding: 24px 20px 16px;
    border-radius: 8px;
    font-size: 14px;
  }

  &__name {
    margin-bottom: 30px;
    font-size: 18px;
    max-width: 350px;
    font-weight: 500;
  }

  &__actions {
    @include flex-align-center(7);
  }

  &__action {
    transition: color .4s, border .4s;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $blue35;
    }

    &:focus {
      color: $blue35;
      border-bottom-color: $blue35;
    }

    &.delete-category {
      &:hover {
        color: #d04141;
      }

      &:focus {
        color: #d04141;
        border-bottom-color: #d04141;
      }
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}