@import './uslugi';

.services {
  &__inner {
    display: flex;
    gap: 55px;
  }

  &__title, &__subtitle {
    color: $blue90;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    color: $gray15;
    max-width: 900px;
    font-size: 15px;
    line-height: 1.4;

    p {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 17px;
  }

  &__markers {
    @include flex-column(9);
    margin-bottom: 15px;

    li {
      position: relative;
      padding-left: 18px;

      &::before {
        @include pseudo;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $blue35;
      }
    }
  }

  &__line {
    display: flex;
    height: 1px;
    width: 100%;
    background-color: rgba($blue90, .2);
    margin: 30px 0;
  }

  &__table {
    display: flex;
    border: 1px solid $gray15;
    margin-bottom: 20px;

    &.short {
      max-width: 380px;
    }

    &.long {
      max-width: 100%;
    }
  }

  &__column {
    @include flex-column(0);
    background: $white;
    width: 100%;

    &.short {
      max-width: 150px;
    }

    span {
      padding: 12px;

      &:not(:last-child) {
        border-bottom: 1px solid $gray15;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid $gray15;
    }
  }

  &__form {
    &-title {
      display: block;
      color: $blue90;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &-columns {
      max-width: 1100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      margin-bottom: 30px;
    }

    &-column {
      @include flex-column(12);
    }

    &-label {
      min-height: 100%;
    }
  }

  &__subtext {
    color: $blue35;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__confirm {
    color: $gray15;
    font-size: 12px;
    max-width: 390px;
    margin-bottom: 15px;

    a {
      color: $blue35;
      transition: color .4s, outline .4s;
      border-radius: 4px;

      &:hover {
        color: $blue50;
      }

      &:focus {
        outline: 1px solid $blue35;
      }
    }
  }

  &__btn {
    font-weight: 500;
    padding: 14px 36px;
  }
}